*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root{

    --bg:#3d2c28;
    --card:#ffffff;
    --gold:#d6b26f;
    --gold-dark:#b88945;
    --text:#f8f5f2;
    --text-dark:#3d2c28;

}

body{

    background:#3d2c28;
    font-family:'Poppins', sans-serif;
    color:#f8f5f2;

}

.hero{

    position:relative;
    height:420px;

}

.bg{

    width:100%;
    height:420px;
    object-fit:cover;

}

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        transparent,
        rgba(61,44,40,.95)
    );

}


.content{

    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    text-align:center;

    width:90%;

    color:white;

}

.avatar{

    width:90px;
    height:90px;

    border-radius:50%;

    border:4px solid white;

    margin-bottom:15px;

}

.content h1{

    font-size:clamp(42px,7vw,58px);
    font-weight:800;
    letter-spacing:1px;
    color:#ffffff;

}

.content h3{

    font-size:clamp(20px,3vw,28px);
    font-weight:600;
    color:#d6b26f;
    margin-top:8px;

}

.content p{

    margin-top:15px;
    font-size:18px;
    line-height:1.8;
    color:#f0ece6;

}

.links{

    width:92%;

    margin:40px auto;

}

.item{

    display:flex;
    align-items:center;
    gap:20px;

    background:#ffffff;

    border-radius:18px;

    padding:18px 22px;

    margin-bottom:18px;

    text-decoration:none;

    color:#3d2c28;

    font-size:clamp(16px,2vw,19px);

    font-weight:600;

    transition:.25s;

}


.item img{

    width: 55px;
  height: 55px;
  object-fit: cover;   /* giữ ảnh không méo */
  border-radius: 14px;

}
------------------

.broker-card{

    display:flex;
    gap:0;
    background:white;
    border-radius:20px;
    padding:0;
    margin-top:0px;
    align-items:center;
    justify-content:flex-start; 

}

.broker-card img{

    width:280px;
    height:80px;
    object-fit:contain;
    flex-shrink:0;

    margin-right:0px;  
    background:transparent;

}
.intro{

    margin:25px 0;

    line-height:1.8;

}

.btn-main{

    display:inline-block;

    margin-top:15px;

    padding:14px 26px;

    background:#b88945;

    color:white;

    border-radius:12px;

    text-decoration:none;

    font-weight:600;

    transition:.25s;

}

.btn-main:hover{

    background:#a67836;

}

.shake-btn{
    display:inline-block;
    padding:12px 24px;
    text-decoration:none;
    border-radius:10px;
    font-weight:bold;

    animation: shake 3.5s infinite;
}

@keyframes shake{
    0%,90%,100%{
        transform: translateX(0);
    }
    92%{
        transform: translateX(-4px);
    }
    94%{
        transform: translateX(4px);
    }
    96%{
        transform: translateX(-4px);
    }
    98%{
        transform: translateX(4px);
    }
}