*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#3d2c28;
    font-family:Arial, Helvetica, sans-serif;

}

.hero{

    position:relative;
    height:420px;

}

.bg{

    width:100%;
    height:420px;
    object-fit:cover;

}

.overlay{

    position:absolute;
    inset:0;

    background:linear-gradient(
        transparent,
        rgba(61,44,40,.95)
    );

}
span {
    font-size:20px;

}

.content{

    position:absolute;

    left:50%;
    bottom:25px;

    transform:translateX(-50%);

    text-align:center;

    width:90%;

    color:white;

}

.avatar{

    width:90px;
    height:90px;

    border-radius:50%;

    border:4px solid white;

    margin-bottom:15px;

}

.content h1{

    font-size:48px;
    font-weight:bold;

}

.content h3{

    font-size:24px;

    margin-top:8px;

}

.content p{

    margin-top:15px;

    font-size:18px;

}

.links{

    width:92%;

    margin:40px auto;

}

.item{

    display:flex;

    align-items:center;

    gap:20px;

    background:white;

    border-radius:18px;

    padding:18px 22px;

    margin-bottom:18px;

    text-decoration:none;

    color:#333;

    font-size:22px;

    font-weight:600;

    transition:.3s;

}

.item:hover{

    transform:scale(1.02);

}

.item img{

    width: 55px;
  height: 55px;
  object-fit: cover;   /* giữ ảnh không méo */
  border-radius: 14px;

}